{% extends 'blog_template.html' %}
{% load static %}

{% block title %}
  <title>Test Page</title>
{% endblock %}

{% block navbar %}
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="https://arcanedomain.duckdns.org/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="{% url 'blogHome' %}" class="w3-bar-item w3-button" style="width:25% !important">BLOG</a>
    <a href="{% url 'categoryHome' desc=cats.1.desc %}" class="w3-bar-item w3-button" style="width:25% !important">Recent Post</a>
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">TOP</a>
  </div>
{% endblock %}

<!-- Need to update this to function as labeled -->
{% block sidebar %}
	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="NewPost" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>New Post</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="EditPost" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Edit Post</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="NewCategory" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>New Category</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="EditCategory" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Edit Category</p>
	</a>

{% endblock %}

{% block header %}
  <header class="w3-container w3-center w3-padding-32 w3-black" id="home">
    <h1 class="w3-jumbo">Test<span class="w3-hide-small">Page</span></h1>
    <p>Blog Testing</p>
  </header>
{% endblock %}

{% block body %}
  <!-- This div contains the contents of our body -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">

    <!-- Get an interface that displays a list of posts and populated form fields -->
    <div id="PostDiv" style="display:none;">
      <h1>Submit a new post:</h1>

      <!-- This div contains the Post form itself -->
      <div id="PostFormDiv" style="display:inherit; float:left">
        <form method="POST" class="post-form" id="PostForm">
          {% csrf_token %}
          <table>
            {% for field in pForm %}
            <tr>
              <td> {{ field.label_tag }} {{ field }}</td>
            </tr>
            {% empty %}
              <p>Got nothing for you.</p>
            {% endfor %}
          </table>
          <input type="submit" value="Submit" name="PostButton" id="PostButton">
        </form>
      </div>

      <!-- This div contains the available Posts form -->
      <div id="PostSelectDiv" style="display:inherit; float:right;">
        <select size="{{ pcnt }}" id="PostSelect" onclick="getPostInfo()">
          {% for post in posts %}
            <option val="{{ post }}">{{ post }}</option>
          {% empty %}
            <p>No Posts</p>
          {% endfor %}
        </select>
      </div>

    <!-- End the Post div -->
    </div>

    <!-- Get an interface that displays a list of cats and populated form fields -->
    <div id="CatDiv" style="display:none;">
      <h1>Create New Category:</h1>

      <!-- This div contains the Cat form itself -->
      <div id="CatFormDiv" style="display:inherit; float:left">
        <form method="POST" class="cat-form" id="CatForm">
          {% csrf_token %}
          <table>
            {% for field in cForm %}
            <tr>
              <td> {{ field.label_tag }} {{ field }}</td>
            </tr>
            {% empty %}
              <p>Got nothing for you.</p>
            {% endfor %}
          </table>
          <input type="submit" value="Submit" name="CatButton" id="CatButton">
        </form>
      </div>

      <!-- This div contains the available Posts form -->
      <div id="CatSelectDiv" style="display:inherit; float:right;">
        <select size="{{ ccnt }}" id="CatSelect" onclick="getCatInfo()">
          {% for cat in cats %}
            <option val="{{ cat }}">{{ cat }}</option>
          {% empty %}
            <p>No Posts</p>
          {% endfor %}
        </select>
      </div>

    </div>

  <!-- End the about div -->
	</div>

  <!-- This adds a script that creates a json called title-data from Django -->
  {{ post_json|json_script:"post-data" }}
  {{ cat_json|json_script:"cat-data" }}

  <!-- This script will get handle updating the form values -->
  <script>
    function getPostInfo() {
      var selectPost = document.getElementById("PostSelect");
      var post_json = JSON.parse(document.getElementById('post-data').textContent);
      var title_arr = post_json['titles'];
      var text_arr = post_json['texts'];
      var cat_arr = post_json['cats'];
      console.log('getPostInfo - Index - ' + selectPost.selectedIndex);
      document.getElementById("id_title").value = title_arr[selectPost.selectedIndex];
      document.getElementById("id_text").defaultValue = text_arr[selectPost.selectedIndex];
      document.getElementById("id_cat").value = cat_arr[selectPost.selectedIndex];
    }

    function getCatInfo() {
      var selectCat = document.getElementById("CatSelect");
      var cat_json = JSON.parse(document.getElementById('cat-data').textContent);
      var desc_arr = cat_json['descs'];
      console.log('getCatInfo - Index - ' + selectCat.selectedIndex);
      document.getElementById("id_desc").value = desc_arr[selectCat.selectedIndex];
    }
  </script>

  <!-- This script is used by the sidebar to hide elements on the page -->
  <script>
    function updateBody(link) {
      console.log('updateBody - ' + link.id);
      if (link.id == "NewPost") {
        document.getElementById("PostDiv").style.display = '';
        document.getElementById("PostFormDiv").style.display = '';
        document.getElementById("PostSelectDiv").style.display = 'none';
        document.getElementById("CatDiv").style.display = 'none';
      } else if (link.id == "EditPost") {
        document.getElementById("PostDiv").style.display = '';
        document.getElementById("PostFormDiv").style.display = '';
        document.getElementById("PostSelectDiv").style.display = '';
        document.getElementById("CatDiv").style.display = 'none';
      } else  if (link.id == "NewCategory") {
        document.getElementById("PostDiv").style.display = 'none';
        document.getElementById("CatDiv").style.display = '';
        document.getElementById("CatFormDiv").style.display = '';
        document.getElementById("CatSelectDiv").style.display = 'none';
      } else if (link.id == "EditCategory") {
        document.getElementById("PostDiv").style.display = 'none';
        document.getElementById("CatDiv").style.display = '';
        document.getElementById("CatFormDiv").style.display = '';
        document.getElementById("CatSelectDiv").style.display = '';
      } else {
        console.log('updateBody - FAILURE');
      }
    }
  </script>
{% endblock %}
