{% extends 'blog_template.html' %}

{% block title %}
  <title>Blog Admin</title>
{% endblock %}

{% block javascript %}
  {% if user.is_authenticated %}
    {{ post_json|json_script:"post-data" }}
    {{ cat_json|json_script:"cat-data" }}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script type="application/javascript" src="/static/javascript/ckeditor/ckeditor.js"></script>
    <script type="application/javascript" src="/static/javascript/blog_admin.js"></script>
  {% else %}
    <script>
      function loginFailed() {
        console.log('User not logged in');
      }
      function getCatInfo() {
        loginFailed();
      }

      function getCatInfo() {
        loginFailed();
      }

      function updateBody(link) {
        loginFailed();
      }
    </script>
  {% endif %}
{% endblock %}

{% block navbar %}
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="https://arcanedomain.duckdns.org/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="{% url 'blogHome' %}" class="w3-bar-item w3-button" style="width:25% !important">BLOG</a>
    <a href="{% url 'blogPost' desc=posts.1.cat.desc id=posts.1.post_id %}" class="w3-bar-item w3-button" style="width:25% !important">Recent Post</a>
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">TOP</a>
  </div>
{% endblock %}

<!-- Need to update this to function as labeled -->
{% block sidebar %}

  <!-- Replace with a blog icon -->
  <!-- https://www.pexels.com/photo/coffee-notebook-pen-writing-34587/ -->
  <a href="{% url 'blogHome' %}"><img src="https://images.pexels.com/photos/34587/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=120&w=120" style="width:100%"></a>

  <a class="w3-bar-item w3-button w3-padding-large w3-black" id="NewPost" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>New Post</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="EditPost" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Edit Post</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="NewCategory" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>New Category</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black" id="EditCategory" onclick="updateBody(this)">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Edit Category</p>
	</a>

  <a class="w3-bar-item w3-button w3-padding-large w3-black" href="{% url 'blogLogout' %}">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Logout</p>
	</a>

{% endblock %}

{% block header %}
  <header class="w3-container w3-center w3-padding-32 w3-black" id="home">
    <h1 class="w3-jumbo">Blog<span class="w3-hide-small"> Homepage</span></h1>
    <p>"Secret" Blog Admin Page</p>

    {% if user.is_authenticated %}
      <h3>Hi {{ user.username }}</h3>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'blogLogin' %}">login</a>
    {% endif %}

  </header>

{% endblock %}

{% block body %}
  <!-- This div contains the contents of our body -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">

  {% if user.is_authenticated %}
    <!-- Get an interface that displays a list of posts and populated form fields -->
    <div id="PostDiv" style="display:none;">
      <h1>Submit a new post:</h1>

      <!-- This div contains the Post form itself -->
      <div id="PostFormDiv" style="display:inherit; float:left">
        <form method="POST" class="post-form" id="PostForm">
          {% csrf_token %}
          <table>
            {% for field in pForm %}
              {% if field.html_name == 'id' %}
                <tr style="display:none;">
                  <td>{{ field.label_tag }} {{ field }}</td>
                </tr>
              {% else %}
                <tr>
                  <td> {{ field.label_tag }} {{ field }}</td>
                </tr>
              {% endif %}
            {% empty %}
              <p>Got nothing for you.</p>
            {% endfor %}
          </table>
          <input type="submit" value="Submit" name="PostReq" id="PostButton">
        </form>
      </div>

      <!-- This div contains the available Posts form -->
      <div id="PostSelectDiv" style="display:inherit; float:right;">
        <select size="{{ pcnt }}" id="PostSelect" onclick="getPostInfo()">
          {% for post in posts %}
            <option val="{{ post }}">{{ post }}</option>
          {% empty %}
            <p>No Posts</p>
          {% endfor %}
        </select>
      </div>

    <!-- End the Post div -->
    </div>

    <!-- Get an interface that displays a list of cats and populated form fields -->
    <div id="CatDiv" style="display:none;">
      <h1>Create New Category:</h1>

      <!-- This div contains the Cat form itself -->
      <div id="CatFormDiv" style="display:inherit; float:left">
        <form method="POST" class="cat-form" id="CatForm">
          {% csrf_token %}
          <table>
            {% for field in cForm %}
              {% if field.html_name == 'id' %}
                <tr style="display:none;">
                  <td>{{ field.label_tag }} {{ field }}</td>
                </tr>
              {% else %}
                <tr>
                  <td> {{ field.label_tag }} {{ field }}</td>
                </tr>
              {% endif %}
            {% empty %}
              <p>Got nothing for you.</p>
            {% endfor %}
          </table>
          <input type="submit" value="Submit" name="CatReq" id="CatButton">
        </form>
      </div>

      <!-- This div contains the available Posts form -->
      <div id="CatSelectDiv" style="display:inherit; float:right;">
        <select size="{{ ccnt }}" id="CatSelect" onclick="getCatInfo()">
          {% for cat in cats %}
            <option val="{{ cat }}">{{ cat }}</option>
          {% empty %}
            <p>No Posts</p>
          {% endfor %}
        </select>
      </div>
    </div>

  {% else %}
    <h3>User Not Logged In</h3>
  {% endif %}
  <!-- End the about div -->
  </div>

{% endblock %}
