{% extends 'blog_template.html' %}
{% load static %}

{% block title %}
  <title>Test Page</title>
{% endblock %}

{% block javascript %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script src="/javascript/ckeditor/ckeditor.js"></script>
  <script src="/javascript/blog_admin.js"></script>
{% endblock %}

{% block navbar %}
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="https://arcanedomain.duckdns.org/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="{% url 'blogHome' %}" class="w3-bar-item w3-button" style="width:25% !important">BLOG</a>
    <a href="{% url 'categoryHome' desc=cats.1.desc %}" class="w3-bar-item w3-button" style="width:25% !important">Recent Post</a>
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">TOP</a>
  </div>
{% endblock %}

<!-- Need to update this to function as labeled -->
{% block sidebar %}
  <a href="{% url 'blogHome' %}"><img src="https://images.pexels.com/photos/34587/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=120&w=120" style="width:100%"></a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Button0</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Button1</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Button2</p>
	</a>

	<a class="w3-bar-item w3-button w3-padding-large w3-black">
		<i class="fa fa-arrow-right w3-xxlarge"></i>
		<p>Button3</p>
	</a>

{% endblock %}

{% block header %}
  <header class="w3-container w3-center w3-padding-32 w3-black" id="home">
    <h1 class="w3-jumbo">Test<span class="w3-hide-small">Page</span></h1>
    <p>Blog Testing</p>
  </header>
{% endblock %}

{% block body %}

  <p>
    When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
  </p>

  <h1>
     Prove: If \(p\) is a prime and \(n\) a positive integer, then \(p^{n}={\displaystyle \sum_{k=0}^{n}\phi(p^{k})}\)
  </h1>

  <p>
    To show this, we use induction on \(n\). We begin by showing the base case \(n=0\).
    $$p^{0}=1={\displaystyle \sum_{k=0}^{0}}\phi(p^{k})=\phi(p^{0})=\phi(1)=1$$
    so the base case is proven.
    Now we assume the case for \(n\) to be true and show the case of \(n+1\) is true.
    $$p^{n+1}={\displaystyle \sum_{k=0}^{n+1}}\phi(p^{k})=1+{\displaystyle \sum_{k=1}^{n+1}}p^{k-1}(p-1)=1+(p-1)+p(p-1)+...+p^{n-1}(p-1)+p^{n}(p-1)=(1-1)+(p-p)+(p^{2}-p^{2})+...+(p^{n-1}-p^{n-1})+p^{n}=p^{n}$$
    So we have shown that if \(p\) is prime and \(n\in\mathbb{N}\) then
    $$p^{n}={\displaystyle \sum_{k=0}^{n}\phi(p^{k})}.$$
  </p>

  <h1>Now let's trying adding a new text editing field.</h1>

  <textarea name="editor1" id="editor1">&lt;p&gt;Initial editor content.&lt;/p&gt;</textarea>

  <script>
    getCKEditor('editor1');
  </script>

{% endblock %}
