{% load static %}
<!DOCTYPE html>
  <body>
    <h1>Game Template</h1>

    <!-- This div contains the BlackJack form itself -->
    <div id="BlackJackFormDiv" style="display:inherit; float:left">
      <form method="POST" class="blackjack-form" id="BlackJackForm">
        {% csrf_token %}
        <table>
          {% for field in gameform %}
            <tr>
              <td> {{ field.label_tag }} {{ field }}</td>
            </tr>
          {% empty %}
            <p style="color:red;">Game Form Missing.</p>
          {% endfor %}
        </table>
        <input type="submit" value="Submit" name="BlackJackReq" id="SubmitButton">
      </form>
    </div>
  </body>
</html>
